.tp1{
background-color:orange;

}
.top2{
background-color:white;

}
.top1{
background-color:orange;

}
.bg-orange{
  background-color: #f86f2b;
  height:80px;
}
.bg-white{
  background-color: white;
  height:70px;
.a{
  margin-top: 10px;
}
  
}
.signupbtn{
  
  border: 0.01rem solid #fff;
    display: block;
    color: #fff;
    border-radius: .5rem;
    padding: .2rem 1rem;
    
}




.dropbtn {
    
    color: white;
    padding: 16px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}
    
}
.dropdown {
    position: relative;
    display: inline-block;
}

.boxdiv {
   font-size: 20px;
    background:white;
    width:270px;
    /*height:200px;*/
    color: #000;
    /*padding-left: 18px;*/
    /*padding-top:10px;*/
    /*overflow: overlay;*/
    /*border: 1px solid black;*/
    
}
.boxdivimg {
   font-size: 20px;
    background:white;
    width:270px;
    height:250px;
    color: #000;
    /*padding-left: 18px;*/
    /*padding-top:10px;*/
    overflow: hidden;
    
}
.boxdiv1 {
   
    background:white;
    width:270px;
    /*height:50px;*/
    color: #000;
    /*padding-left: 18px;*/
    /*padding-top:10px;*/
    
}
.boxdiv2 {
   
    background:white;
    border-bottom:2px solid grey;
    /*width:270px;*/
    height:auto;
    /*color: #000;*/
text-align: justify;
  /*background: transparent;*/
    /*padding-left: 18px;*/
    /*padding-top:10px;*/
    /*overflow-y: scroll;*/
    
}
.user{
  width:270px;
  /*height:30px;*/
  font-style:italic;
  background:white;
  font-size:20px;
  color:blue;
  /*padding-left:18px;*/

  /*border: 1px solid black;*/
}







 .dropbtn {
    background-color: orange;
}

body {
  margin: 0;
  padding: 0;
  background: orange;
}





.top{
padding:0px;
height:85px;
width:1150px;
border:0px solid black;
background-color:pink;
}
.fb{
  color:white;
    font-size:50px;
    height: 56px;
    
 }
.em{
color:white;
left:-78px;
width:140px;
height:8px;
}
.pass{
color:white;
left:-11px;
width:140px;
height:8px;
}
.log{
color:white;
left:57px;
top:27px;
}



.loginbody{
    
    background: white;
    
    margin-top: 100px;
}
.signup{
    
    background: white;
    margin-left: 500px;
     
}
.sign{
    
    background: white;
    
    margin-top: 40px;
}



.wrap{

  position:relative;
  /*width: 200px;*/
  left: 35px;
  top: -12px;
}



#text{
  position: absolute;
  left: 30px;
  top: 13px;
  color: white;
}


.thumbnail img,video
{
    width: 100%;
    
}



.thumbnail  
{   
     /*height: auto;*/

    border-radius: 10px;
    border-radius: 1px;
    border: 8px solid #C0C0C0;
    background: white;
   
    font-family: 'Cormorant Garamond',serif;
    font-family: 'Questrial', sans-serif;
    line-height: 20px;
    font-weight: normal;
    /*font-size: 20px;*/

   
    opacity: 5;
   
  

}

.quant{


  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
  width: 300px;
}



input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #1A5276;
    opacity: 1;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #1A5276;
    opacity: 1;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #1A5276;
    opacity: 1;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #1A5276;
    opacity: 1;
}