<!DOCTYPE html>
<html lang="en">
<head>
  <title>Report</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
   <script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
    <link href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css" rel="stylesheet">
</head>
<style>
.nav{
    background:#26A69A;
    }
.tab-pane
{
        color:black;
}
#col
{
    color:#17202A;
}
</style>
<body>

<div class="container-fluid" >
 {% include 'header.html' %}<br>
<div style="font-size: 16px;">
<table class="" style="width: 248px;">
    <thead>
    <tr>
        <th>Total Farmers</th><td><b>{{total_farmers}}</td>
    </tr>
    <tr>
        <th>Audited</th><td><b>{{aud_length}}</td>
    </tr>
    <tr>
        <th>Not Audited</th><td><b>{{notaudited_length}}</td>                
    </tr>
    </thead>
</table>

<!-- Total Farmers :<u>{{total_farmers}}</u><br>
Audited :<u>{{aud_length}}</u><br>
Not Audited :<u>{{notaudited_length}}</u> -->
<br><br>


</div>
 <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Faremers</a></li>
    <li><a href="#tab2" data-toggle="tab">Audited</a></li>
    <li><a href="#tab3" data-toggle="tab">Not Audited</a></li>
</ul>

  <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1">
                        <div class="row" style="margin-top: 15px;">
                            <div class="col-md-12">
                                <div class="panel panel-default gradient-diag1">
                                    <table class="table table-bordered totaldistable">
                                        <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Farmer Code</th>
                                            <th>District</th>
                                            <th>Village</th>
                                            <th>Fields</th>
                                            <!-- <th>Acres</th> -->
                                            
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for i in farmers %}
                                        
                                        <tr>
                                            <td>{{i.name}}</td>
                                            <td>{{i.farmer_code}}</td>
                                            <td>{{i.district}}</td>
                                            <td>{{i.village}}</td>           
                                            <td>{{i.no_of_fields}}</td>
                                        </tr>
                                        
                                        {% endfor %}
                                        </tbody>
                                </table>
                                </div>

                            </div>
                            </div>

                        </div>


                    <div class="tab-pane" id="tab2">
                        <div class="row" style="margin-top: 15px;">
                            <div class="col-md-12">
                                <div class="panel panel-default gradient-diag1">
                                    <table class="table table-bordered totaldistable">
                                        <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Farmer Code</th>
                                            <th>District</th>
                                            <th>Village</th>
                                            <th>Fields</th>
                                            <th>Acres</th>
                                            
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for i in audited %}
                                        <tr>
                                            <td>{{i.name}}</td>
                                            <td>{{i.farmer_code}}</td>
                                            <td>{{i.village}}</td>
                                            <td>{{i.district}}</td>
                                            <td>{{i.no_of_fields}}</td> 
                                            <td>{{i.acars__sum}}</td>          
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="tab3">
                        <div class="row" style="margin-top: 15px;">
                            <div class="col-md-12">
                                <div class="panel panel-default gradient-diag1">
                                    <table class="table table-bordered totaldistable">
                                        <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Farmer Code</th>
                                            <th>District</th>
                                            <th>Village</th>
                                            <th>Fields</th>            
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for i in notaudited %}
                                        
                                        <tr>
                                            <td>{{i.name}}</td>
                                            <td>{{i.farmer_code}}</td>
                                            <td>{{i.village}}</td>
                                            <td>{{i.district}}</td>
                                            <td>{{i.field}}</td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                     </div>
                     
    </div>
<script type="text/javascript">
     
     $(document).ready(function() {
    $('.totaldistable').DataTable( {
        "order": [[ 0, "desc" ]]
    } );
} );



</script>
</body>
</html>
