<!DOCTYPE html>
<html lang="en">
<head>
  <title>Village</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
   <script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
    <link href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css" rel="stylesheet">
</head>
<style>
.nav{
    background:#26A69A;
    }
.tab-pane
{
        color:black;
}
#col
{
    color:#17202A;
}
</style>
<body>

<div class="container-fluid" >
{% include 'header.html' %}<br>
<div style="font-size: 16px;">

</div>
 <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Village</a></li>
</ul>

  <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1">
                        <div class="row" style="margin-top: 15px;">
                            <div class="col-md-12">
                                <div class="panel panel-default gradient-diag1">
                                    <table class="table table-bordered totaldistable">
                                        <thead>
                                        <tr>
                                            <th>Village</th> 
                                            <th>Total_NO_Of_Farmers</th>
                                            <th>Audited</th>
                                            <th>Not Audited</th>                     
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for i in village %}                                        
                                        <tr>
                                            
                                            <td><a href="/report/{{i.pk}}">{{i}}</td>
                                            <td>{{tot_farmers}}</td>
                                            <td>{{aud_length}}</td>
                                            <td>{{notaudited_length}}</td>
                                            
                                        </tr>
                                        {% endfor %}
                                       
                                        </tbody>
                                </table>
                                </div>

                            </div>
                            </div>

                        </div>


                    
                    
                    
                     </div>
                     
    </div>
<script type="text/javascript">
     
     $(document).ready(function() {
    $('.totaldistable').DataTable( {
        "order": [[ 0, "desc" ]]
    } );
} );



</script>
</body>
</html>
